
@{
    ViewData["Title"] = "BlogDetailed";
}

<h2>Інформація про протоколи</h2>

<p>Європротокол — спеціальний уніфікований бланк, поширений на території Європи, зокрема Європейського Союзу, який заповнюється учасниками дорожньо-транспортної пригоди</p>

<p>Протокол про адміністративне правопорушення – це процесуальний документ, який є підставою для розгляду та вирішення справи про адміністративне правопорушення</p>

<img style="height: 600px" src="~/images/dtp.jpg"/>

