@{
    ViewData["Title"] = "Login";
}

<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Інформація про протоколи</h2>
<div class="row row-bottom-padded-md">
<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
        <a href="#" class="blog-img"><img src="~/images/dtp.jpg" class="img-responsive" alt=""></a>
        <div class="desc">
            <h3><a asp-action="BlogDetailed" asp-controller="Protocol">Заповнюй правильно</a></h3>
            <a asp-action="BlogDetailed" asp-controller="Protocol" class="lead">Дізнатися більше <i class="icon-arrow-right3"></i></a>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
        <a href="#" class="blog-img"><img src="~/images/dtp2.jpg" class="img-responsive" alt=""></a>
        <div class="desc">
            <h3><a asp-action="BlogDetailed" asp-controller="Protocol">Європротокол</a></h3>
            <a asp-action="BlogDetailed" asp-controller="Protocol" class="lead">Дізнатися більше<i class="icon-arrow-right3"></i></a>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
        <a href="#" class="blog-img"><img src="~/images/dtp3.jpg" class="img-responsive" alt=""></a>
        <div class="desc">
            <h3><a asp-action="BlogDetailed" asp-controller="Protocol">Адмінпротокол</a></h3>
            <a asp-action="BlogDetailed" asp-controller="Protocol" class="lead">Дізнатися більше<i class="icon-arrow-right3"></i></a>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
        <a href="#" class="blog-img"><img src="~/images/dtp.jpg" class="img-responsive" alt=""></a>
        <div class="desc">
            <h3><a href="#">Інструкції</a></h3>
            <a asp-action="BlogDetailed" asp-controller="Protocol" class="lead">Дізнатися більше<i class="icon-arrow-right3"></i></a>
        </div>
    </div>
</div>                   
</div>
           